<div class="main-container container">
  <div class="column left">
    <load src="/partials/map.html" />
  </div>
  <div class="resizer"></div>
  <div class="column right">
    <load src="/partials/notes.html" />
  </div>
</div>
<div class="main-bottom container">
  <button id="btn-random-place" type="button">Set random place</button>
  <button id="btn-my-coordinate" type="button">Find me</button>
  <!-- <button id="btn-get-routes-to-point" type="button">
    Get routes to this point
  </button> -->
</div>
