<div>
  <div class="add-location-form-wrapper">
    <form method="get" id="add-location-form">
      <label for="location-text">Enter location:</label>
      <input type="text" name="location-text" id="location-text" required />
      <button type="submit">Find</button>
    </form>
    <button class="close-btn" id="btn-close-location-list" type="button" hidden>
      Close
    </button>

    <ul class="location-list" id="location-list"></ul>
  </div>
  <form method="get" id="create-route-form">
    <label for="route-name">Enter route title:</label>
    <input type="text" name="route-name" id="route-name" required />

    <button type="submit">Create new route</button>
  </form>
  <h2>Your routes:</h2>
  <div class="user-routes-wrapper" id="user-routes">
    <ol
      class="user-route draggable-container"
      id="user-route"
      style="border: 1px solid red"
    >
      <li
        class="user-route-item draggable"
        id="user-route-item"
        draggable="true"
      >
        item 1
      </li>
      <li
        class="user-route-item draggable"
        id="user-route-item"
        draggable="true"
      >
        item 2
      </li>
      <li
        class="user-route-item draggable"
        id="user-route-item"
        draggable="true"
      >
        item 3
      </li>
      <li
        class="user-route-item draggable"
        id="user-route-item"
        draggable="true"
      >
        item 4
      </li>
    </ol>
  </div>
</div>
